$x-large: 26px;
$large: 22px;
$med: 16px;
$small: 14px;

$primary-color:rgb(0, 128, 128);
$secondary-color: rgb(254, 67, 101);
$tertiary-color: rgb(249, 205, 173);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: $med;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 2vw;
    color: $primary-color;
}

h1, h2 {
    font-size: $x-large;
}

h3, h4 {
    font-size: $large;
}

p, li {
    font-size: $med;
}