@import 'global';

.bootcamp-panel {
   width: 100;
   display: none;
}

.bootcamp-panel.current {
    display: block;
}

.bootcamp-panel h2 {
    text-transform: capitalize;
}

.container {
    margin: 0;
    padding: 0 1vw;
    width: 100%;
}