@import 'global';

.bootcamp-panel {
   width: 100;
   display: none;
   height: 100%;
}

.bootcamp-panel.current {
    display: block;
}

.bootcamp-panel h2 {
    text-transform: capitalize;
}

.container {
    margin: 0;
    padding: 0 1vw;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .bootcamp-panel {
        height: 80vh;
    }
}