@import 'global';

.bootcamp-panel {
   width: 100;
   display: none;
   height: 100%;
}

.bootcamp-panel.current {
    display: block;
}

.bootcamp-panel h2 {
    text-transform: capitalize;
}

.container {
    margin: 0;
    padding: 0 5px 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
    .container {
        height: 77vh;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        height: 75vh;
        // width: 70%;
        padding: 0 10vw;
        margin: auto;
    }
}