* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-size: 16px; }

ul,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 2vw;
  color: teal; }

h1, h2 {
  font-size: 26px; }

h3, h4 {
  font-size: 22px; }

p, li {
  font-size: 16px; }

header {
  padding: 2vw;
  border-bottom: 4px solid #fe4365;
  height: 10vh;
  display: flex;
  align-items: center; }

@media only screen and (min-width: 600px) {
  header {
    height: 8vh;
    padding: 0; } }
