@import 'global';

header {
    padding: 2vw;
    border-bottom: 4px solid $secondary-color;
    height: 10vh;
    display: flex;
    align-items: center;
    button, li {
        text-transform: capitalize;
    }
}

@media only screen and (min-width: 600px) {
    header {
        height: 8vh;
        padding: 0;     
    }
}

// @media only screen and (min-width: 900px) {
//     header {
//         height: 10vh;
//         padding: 0;
//         display: flex;
//         align-items: center;
//         h1 {
//             margin: 0;
//             padding: 10px;
//         }
//     }
// }