@import 'global';

div#skills.panel.panel-default {
    ul {
        padding: 0;
        li {
            margin: 1vw 0;
            padding: 3vw 0;
            background: $tertiary-color;
            font-size: $large;
            text-transform: uppercase;
        }
    }
}

// @media only screen and (min-width: 600px) {
//     #skills {
//         grid-column: 1 / span 2;
//     }

//     #skills ul {
//         display: grid;
//         grid-template-columns: auto auto;
//         grid-column-gap: 2vw;
//         li {
//             padding: 2vw;
//             border: none;
//             border-bottom: 1px solid $tertiary-color;
//         }
//     }
// }

// @media only screen and (min-width: 600px) {
//     #skills {
//         height: 500px;
//         li {
//             font-size: 20px;
//             margin: 0;
//         }
//     }
//     // #skills ul {
//     //     display: grid;
//     //     grid-template-columns: auto auto;
//     //     grid-column-gap: 2vw;
//     //     li {
//     //         padding: 2vw;
//     //         border: none;
//     //         border-bottom: 1px solid $tertiary-color;
//     //     }
//     // }
// }