@import 'global';


div.panel.panel-default {
    text-transform: capitalize;
    width: 100%;
    .panel-heading {
        background: white;
        border-top: .5vw solid $secondary-color;
    }
    .panel-body p {
        color: $secondary-color;
        font-size: $x-large;
    }
}

// @media only screen and (min-width: 900px) {
//   div.panel {
//       grid-row: span 1;
//   }
// }