* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Mandali', sans-serif;
  font-size: 16px; }

ul,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 2vw;
  color: teal; }

h1, h2 {
  font-size: 26px; }

h3, h4 {
  font-size: 22px; }

p, li {
  font-size: 16px; }

div.panel.panel-default {
  text-transform: capitalize;
  width: 100%; }
  div.panel.panel-default .panel-heading {
    background: white;
    border-top: 0.5vw solid #fe4365;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  div.panel.panel-default .panel-body {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  div.panel.panel-default .panel-body p {
    color: #fe4365;
    font-size: 26px; }

@media only screen and (min-width: 600px) {
  div.panel.panel-default {
    flex: 45%;
    height: 36vh;
    margin: 0 5px 5px;
    padding: 0; }
    div.panel.panel-default .panel-heading {
      height: 25%; }
    div.panel.panel-default .panel-body {
      height: 75%; } }

@media only screen and (min-width: 900px) {
  div.panel.panel-default {
    width: 35%;
    height: 36vh;
    margin: 0 2vw;
    padding: 0; } }
