@import 'global';

main {
    h2 {
        margin: 0;
        padding: 10px;
    }
}

@media only screen and (min-width: 400px) {
    main {
        h2 {
            padding: 15px;
        }
    }
}

@media only screen and (min-width: 600px) {
    main {
        // height: 100%;
        h2 {
            padding: 30px;
        }
    }
}
// @media only screen and (min-width: 900px) {
//     main {
//         height: 90vh;
//         div.bootcamp-panel {
//             height: 100%;
//             div.container {
//                 height: 80%;
//             }
//         }
//     }
// }